<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="Nhom6_QuanLyBanHangConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Mickay\Desktop\Nhom6MDF\Nhom6MDF\Nhom6_QuanLyBanHang.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.1" />
      <httpRuntime targetFramework="4.7.1" />
    </system.web>

</configuration>
